<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <title>Recipes</title>
</head>

<body>

    <div id="root"></div>


    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <script>

        const ex = [
            '12 handstand push-ups',
            '8 bar muscle-ups',
            '4 power cleans'
        ]

        function ExerciseList() {
            return React.createElement(
                'ul',
                { className: 'ex-list' },
                ex.map((exercise, i) =>
                    React.createElement('li', { className: 'ex', key: i }, exercise))
            )
        }

        ReactDOM.render(
            React.createElement(ExerciseList, null, null),
            document.getElementById('root')
        );

        console.log(ExerciseList());

    </script>

</body>

</html>